/**
 * @Author: Guoxing.han
 * @Date: 2018-07-12 13:35:54
 * @version 0.0.1
 */

//@import 'http://news-at.zhihu.com/css/news_qa.auto.css?v=4b3e3';
.detail-content {
  min-height: 400px;
  padding: 20px 0;
  font-size: 14px;
  color: #666
}
