<div [el-loading]="loading" class="item-main">
  <div el-row class="items">
    <a el-col class="item" span="4" *ngFor="let item of list" [offset]="item > 0 ? 6 : 0" routerLink="/detail/{{item.id}}">
      <el-card body-style="padding: 0px">
        <img src="{{item.images}}">
        <div style="padding: 14px;">
          <p class="title">{{item.title|SliceStr: 0:20:'...'}}</p>
          <div class="bottom clearfix">
            <time class="time">{{time|date: 'dd/MM/yyyy'}}</time>
          </div>
        </div>
      </el-card>
    </a>
  </div>
</div>
